body {
	background:#38b4d6;
	font-size: 22px;
	font-family: 'Blaka Hollow', cursive;
}

h1{
	text-align:center;
	color:black;
	font-family: 'Blaka Hollow', cursive;
}
p{
	text-align:center;
	color:black;
	font-family: 'Blaka Hollow', cursive;
}
img{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

a{
	color:blueviolet;
}
	a:hover{
		color:black;
	}
	a:visited{
		color:black;
	}